    <div id="dockContainer"></div>
            <div id="dockWrapper">
                    <div class="cap left"></div>
            <ul class="osx-dock">
                <li class="active">
                    <span>Contact</span>
                    <a href="principal"><img src="assets/images/Pin_ON.svg" /></a>
                </li>
                <li>
                    <span>Chat</span>
                    <a href="chat-general" ><img src="assets/images/Group1635.svg" /></a>
                </li>
                <li>
                    <span>Calendar</span>
                    <a href="calendar" ><img src="assets/images/Group1636.svg" /></a>
                </li>
                <li>
                    <span>Principal</span>
                    <a href="principal" ><img src="assets/images/Group1637.svg" /></a>
                </li>
                <li>
                    <span>Email</span>
                    <a href="email" ><img src="assets/images/Group1634.svg" /></a>
                </li>
                <li>
                    <span>Save</span>
                    <a href="#" ><img src="assets/images/Task_ON.svg" /></a>
                </li>
                <li>
                    <span>Links</span>
                    <a href="#" ><img src="assets/images/Yira_ON.svg" /></a>
                </li>
                
            </ul>
        </div> 