HTML  CSS   Result
Edit on 
/* MAc style dock by fivera.net */


div.cap {
    display: block;
    height: 100px;
    width: 40px;
}

div.cap.left {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

div.cap.right {
    background-position: right bottom;
    position: absolute;
    top: 0px;
    right: 0px;
}


ul.osx-dock {
    display: inline-block;
    height: 90px;
    padding: 0 40px 0 0;
    /*background: url(../../../assets/images/Fooder.svg) no-repeat right bottom;*/
    overflow: hidden;
    margin: -23px 0 0 40px;
}

ul.osx-dock li {
    display: block;
    position: relative;
    float: left;
    width: 55px;
    height: 50px;
    margin: 25px 0 4px 0;

    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    transition: 0.15s linear;

    -webkit-transition-property: -webkit-transform margin;
    -moz-transition-property: -moz-transform margin;
    -o-transition-property: -o-transform margin;
    -ms-transition-property: -ms-transform margin;
    transition-property: transform margin;
    text-align: center;
}

ul.osx-dock li a {
    display: block;
    height: 50px;
    padding: 0 1px;

    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    transition: 0.15s linear;

    -webkit-transition-property: -webkit-transform margin;
    -moz-transition-property: -moz-transform margin;
    -o-transition-property: -o-transform margin;
    -ms-transition-property: -ms-transform margin;
    transition-property: transform margin;
    margin: 0;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
}

ul.osx-dock li a img {
    width: 48px;
}

ul.osx-dock li:hover {
    margin-left: 9px;
    margin-right: 9px;
    z-index: 200;
}

ul.osx-dock li:hover a {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;

    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

ul.osx-dock li.nearby {
    margin-left: 6px;
    margin-right: 6px;
    z-index: 100;
}

ul.osx-dock li.nearby a {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;

    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

ul.osx-dock li span {
    position: absolute;
    bottom: -10px;
    margin: auto;
    display: none;
    width: auto;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 6px;
    color: rgb(7, 7, 7);
}

ul.osx-dock li:hover span {
    display: block;
}
div#dockContainer {
    position: fixed;
    left: 50%;
    bottom: -570px;
    margin-left: -250px; 
    height: 600px;
    width: 500px;
    border-radius: 6px;
    background: url(../../../assets/images/fooder_new.svg);
}
div#dockWrapper {
    position: fixed;
    bottom: 67px;
    height: 0px;
    width: 100%;
    padding: 10px 0 0;
    text-align: center;
    border-radius: 6px;
    line-height: 1;
    z-index: 100px;
    line-height: 1;
}