
/*body {
    padding-top: 54px;
    background: #e1e1ef;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }*/
  
  .imgfondo{
    background: url("../../../assets/imagenes/hederult.png");
    background-repeat: no-repeat;
    padding: 9px 0px 21px 11px;
  }
  
  .bordeicon{
    padding: 5px 18px 4px 7px;
  }
  
  .size-text{
    font-size: 23px;
    color: #00b7ff;
  }
  
  a:link
  {
    text-decoration:none;
  }
  
  .text-color{
    color:#343a404d !important;
  }
  
  .containercolor{
    background: #e1e1ef;
  }
  
  .espaciado{
    padding: 23px 0px 0px 0px;
  }
  
  .borde-header{
    padding: 1px 0px 0px 0px;
  }
  
  .bor-img{
    border-color: #5c3e3e;
    box-shadow: 0 1px 0 #d41d1d;
    border-radius: 3px;
    padding: 1px;
  }
  
  .img-border{
    width: 20px;
    height: 21px;
    border-radius: 50%;
  }


  /*buscador header de la esquina*/
.header-search-span {
    float: right;
    width: 212px;
    display: inline-block;
}

.header-search {
    width: 230px;
    position: relative;
    float: left;
}

    .header-search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        border-radius:0;
        padding: 0 2px 0 2px;
        background: transparent;
        border: 0;
        box-shadow: none;
    }

        .header-search:hover input, .header-search input:focus {
            width: 200px;
            margin-left: 0px;
            color: #ffffff;
            font-weight: bold;
            background: rgba(9, 11, 9, 0.93);
        }

        .header-search input::placeholder {
            color: #ffffff;
            font-weight: normal;
        }

.btn-srch {
    position: absolute;
    right: 0;
    border: 0;
    background: transparent;
}

/*ultimo*/
.alineado-textico{
  display: inline-flex;
}

.alineado-busqueda{
  margin: -19px 1px 1px 1px;
}

@media (min-width: 320px) {
  .texto-centro{
    display: none;
  }
}
@media (min-width: 992px) {
  .texto-centro{
     display:block;
  }
}

/*ultimo miercoles 2952018*/
.ancho-img{
  width: 94%;
  height: 63%;
}

.margen-muro{
  margin: 0px 9px 0px 15px;
}

.margen-icon{
  padding: 15px 44px 15px 34px;
}

.margen-texto-modal{
  margin: 0px 0px 2px 1px;
  text-align: center;
  font-weight: 900;
  font-size: 31px;
  color: #96908b;
}

.margen-subtitulo-modal{
  margin: -14px 0px 4px 0px;
  text-align: center;
  font-weight: 900;
  font-size: 15px;
  color: #c9c5c1;
}

.margen-titleicon-modal{
  margin: 0px 0px 2px 1px;
  text-align: center;
  font-weight: 899;
  font-size: 15px;
  color: #96908b;
}


@media (min-width: 320px) {
  .margen-titleicon-modal{
    margin: 16px 0px 16px 0px;
  }
}

/*bodrde del car modal ultimo*/
.card-borde{
  border-radius: 1.25rem;
}
.color-header{
  background: #f9f8f800;
}

.update-card-MDimentions{
  width: 47px;
  height: 45px;
  border-radius:50%;
}
.media-heading{
  font-size: medium;
}

.info{
  font-size: x-small;
}

.card-pad{
  padding: 0rem;
}

.icons{
    margin:0 auto;
    display:table;
}

@media (min-width: 320px) {
 .icon-pad{
   padding: 1px 16px 1px 4px ;
 }
}
/* 4 columnas para grandes tablets*/
@media (min-width: 992px) {
 .icon-pad{
   padding: 1px 27px 1px 0px ;
 }
}


