<div class="container border">
  <div class="row">
          <div class="header">
              <h5>Last mails</h5>
          </div>
          <div class="body">
            <h6 class="small">Today</h6>
          </div>
          <div class="container-email">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h4 class="larger">Robert Stand</h4>
                  <h3 class="larger-1">Mail about new requeriments</h3>    
                  <h6 class="small-2">8/6/2018</h6> 
                  <h1 class="small-1">I have to say tanks for the quickly....</h1> 
                  <button class="btn btn-blue btn-border-o" type="button">
                      <img id="img-doc" src="../../../assets/images/Icons nuevos svg/DOC.svg">
                      </button>

                      <button class="btn-share btn-blue btn-border-o" type="button">
                          <img id="img-share" src="../../../assets/images/Icons nuevos svg/SHARE_ON.svg">
                          </button>

                          <button class="btn-resp btn-blue btn-border-o" type="button">
                              <img id="img-resp" src="../../../assets/images/Icons nuevos svg/EXPLANATION_ON.svg">
                              </button>

                              <button class="btn-option btn-blue btn-border-o" type="button">
                                  <img id="img-option" src="../../../assets/images/Icons nuevos svg/MORE_ON.svg">
                                  </button>
                </li>

                <li class="list-group-item">
                    <h4 class="larger">Sam Brosney</h4>
                    <h3 class="larger-1">Mail about new requeriments</h3>    
                    <h6 class="small-2">8/6/2018</h6> 
                    <h1 class="small-1">I have to say tanks for the quickly....</h1> 
                    <button class="btn btn-blue btn-border-o" type="button">
                        <img id="img-doc" src="../../../assets/images/Icons nuevos svg/DOC.svg">
                        </button>
  
                        <button class="btn-share btn-blue btn-border-o" type="button">
                            <img id="img-share" src="../../../assets/images/Icons nuevos svg/SHARE_ON.svg">
                            </button>
  
                            <button class="btn-resp btn-blue btn-border-o" type="button">
                                <img id="img-resp" src="../../../assets/images/Icons nuevos svg/EXPLANATION_ON.svg">
                                </button>
  
                                <button class="btn-option btn-blue btn-border-o" type="button">
                                    <img id="img-option" src="../../../assets/images/Icons nuevos svg/MORE_ON.svg">
                                    </button>
                  </li>
              </ul>
            </div>
  </div>
</div>
  