<div class="mt-4">
    <div class="card profile-card-4">
            <div class="card-img-block">
                <!--div class="info-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div-->
                <img class="img-fluid" src="../../../assets/images/imgdh/dhmagdif.png" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
                <img src="../../../assets/images/imgdh/logodh.png" alt="profile-image" class="profile"/>
                <h5 class="card-title text-center">Gail Schmidt</h5>
                <p class="card-text text-center">Some quick example text to build.</p>
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      <li>
                        <a href="#">Settinngs</a>
                      </li>
                      <li>
                        <a href="#">My profile</a>
                      </li>
                      <li>
                        <a href="#">Logout</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
        <!--p class="mt-3 w-100 float-left text-center"><strong>Info block with hover</strong></p-->
</div>
