.container{
    padding-bottom: 10px;
    border-radius: 10px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 320px;/*alto*/
    width: 310px;/*ancho*/
       
}
.card{
    height: auto;
    width: 310px;
    border-radius: 10px;
    margin: 0px;
}

.card-header{
    height: 35px;
    width: 310px;
}
.panel{
    width: 310px;
    height: 240px;
}
.media{
    margin-top: -15px;
    padding-top: -15px;
}

.list-group{
    overflow-y: auto;
    overflow-x: remove;
    height: 240px;
    width: auto;
}

.card-header h5{
    color: #1BBCFE;
    padding-top: 10px;
    font-size: 15px;
}

.card-header img{
    width: 15px;
    height: 18px;
    padding: none;
}


.panel ul li{
    padding: none;
    border-top: 0px solid #e6e8eb;
    border-left: 0px solid white;
    border-right: 0px solid white;
    position: relative;
}

#notifi-list span{
    margin: 0;
    font-size: 10px;
}

#notifi-list img{
    position: relative;
    width: 25px;
    height: 25px;
    padding: none;
    display: block;
}

.panel ul li:hover {
    background-color: #ccc
}

#notifi-list a{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: black;
    font-size: 10px;
    margin: 0px;
    padding: none;
    display: block;
}

#notifi-list p{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: #ccc;
    font-size: 8px;
    margin: 0;
    display: block;
}

#footer{
    display: block;
    padding: none;
    margin: none;
    height: 20px;
}
