.container{
    padding: 15px;
    box-shadow: 2px 2px 3px #ccc;
    border-radius: 10px;
    max-height: 350px;
    max-width: 300px;
    min-height: 260px;
    min-width: 280px;

    
}
.card{
    padding: 0px;
    max-height: 350px;
    max-width: 300px;
    min-height: 260px;
    min-width: 250px;
    border-radius: 10px;
}

.card-header{
    max-height: 60px;
    max-width: 300px;
    min-height: 35px;
    min-width: 280px;
}

.list-group{
    overflow-y: scroll;
    overflow-x: remove;
    max-height: 200px;
    max-width: 300px;
    min-height: 200px;
    min-width: 250px;
}

.media h5{
    color: #1BBCFE;
    padding-top: 10px;
    font-size: 15px;
}

.media img{
    width: 15px;
    height: 18px;
    padding: none;
}

.panel ul li{
    padding: none;
    border-top: 1px solid #e6e8eb;
    border-left: 0px solid white;
    border-right: 0px solid white;
    border-bottom: 0px solid white;
    position: relative;
}

#notifi-list span{
    margin: 0;
    font-size: 10px;
}

#notifi-list img{
    position: relative;
    width: 25px;
    height: 25px;
    padding: none;
    display: block;
}

#notifi-list a{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: black;
    font-size: 10px;
    margin: 0px;
    padding: none;
    display: block;
}

#notifi-list p{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: #ccc;
    font-size: 8px;
    margin: 0;
    display: block;
}

#notifi-list img{
    padding: 2px;
    margin: 0;
}

#footer{
    display: block;
    padding: none;
    margin: none;
    max-height: 60px;
    min-height: 35px;
}
