<!--buscador-->
<div class="bord-serch">
    <form class="search-form">
      <label class="search-input"> <a href="#">Write something</a></label>
        <a class="search-button" href="#">
          <img class="img-border" src="../../../assets/images/usuariomuro.jpg" alt="...">
        </a>
      <!--/button-->
      <div class="search-option">
        <div>
          <input name="type" type="radio" value="type-images" id="type-images">
          <label for="type-images">
            <svg class="edit-pen-title">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#images"></use>
            </svg>
            <span>Images</span>
          </label>
        </div>
        <div>
          <input name="type" type="radio" value="type-posts" id="type-posts">
          <label for="type-posts">
            <svg class="edit-pen-title">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#event"></use>
            </svg>
            <span>Events</span>
          </label>
        </div>
      </div>
    </form>
  </div>

  