<!--buscador-->
<div class="bord-serch">
    <form class="search-form">
      <label class="search-input"> <a href="#" data-toggle="modal" data-target="#modlaPublicaciones">Write something</a></label>
        <a class="search-button" href="#">
          <img class="img-border" src="../../../assets/images/usuariomuro.jpg" alt="...">
        </a>
      <!--/button-->
      <div class="search-option">
        <div>
          <input name="type" type="radio" value="type-images" id="type-images">
          <label for="type-images" data-toggle="modal" data-target="#modlaGaleriaimg">
            <svg class="edit-pen-title">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#images"></use>
            </svg>
            <span>Images</span>
          </label>
        </div>
        <div>
          <input name="type" type="radio" value="type-posts" id="type-posts">
          <label for="type-posts" data-toggle="modal" data-target="#modlaPublicaciones">
            <svg class="edit-pen-title">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#event"></use>
            </svg>
            <span>Events</span>
          </label>
        </div>
      </div>
    </form>
  </div>

  <!--MODALS CON BARIAS IMAGENES DEL BUSCAOR CENTRAL Y PUBLICACIONES-->
 <!-- Modal imagens -->
 <div class="modal fade" id="modlaGaleriaimg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div id="btn-back">
          <button type="button" class="close alineado-icon" data-dismiss="modal" ></button>
          <label id="text-back" data-dismiss="modal"> Atras </label>
          <label id="text-principal">Select your photographs </label>
          <!--label id="cant-like"> 51 </label> 
          <img id="like-comment" src="../../../assets/images/Like_OFF.svg"-->                                                                                                                              
      </div>
        
      </div>
      <div class="modal-body">
        <!--contenido del centro inicio-->
          <div class="container">
   

            <div class="row text-center text-lg-left">
      
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dehultimo.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dff.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dharbor.png" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dhc.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dhcdos.png" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dhh.png" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dhm.png" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dhmagdif.png" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dho.png" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dhtru.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dhu.png" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dhumms.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/dhun.png" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/diftal.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/digitalc.png" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/digitalcdos.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/digitalcer.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/digitalctres.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/digitalcun.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid-g img-thumbnail" src="../../../assets/images/imgdh/digitalh.jpg" alt="">
                </a>
              </div>
            </div>
                     

          </div>
        <!--contenido del centro fin-->
      </div>
    </div>
  </div>
</div>

 <!-- Modal publicaciones -->
 <div class="modal fade bd-example-modal-lg" id="modlaPublicaciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <div id="btn-back">
          <button type="button" class="close alineado-icon-2" data-dismiss="modal" ></button>
          <label id="text-back" data-dismiss="modal"> Atras </label>
          <label id="text-principal">Make a post </label>
          <!--label id="cant-like"> 51 </label> 
          <img id="like-comment" src="../../../assets/images/Like_OFF.svg"-->                                                                                                                              
      </div>

      </div>
      <div class="modal-body">
        <!--contenido del centro inicio-->
        <div class="cont">
        <div class="area">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" cols="30"></textarea>
        </div>
       
        <div class="navigation">
          <div class="nav_btns">
            <i class=" icon-home" aria-hidden="true"></i>
            <i class="nav_btn icon-magnifier" aria-hidden="true"></i>
            <i class="nav_btn_r icon-bell" aria-hidden="true"></i>
            <i class="nav_btn icon-user" aria-hidden="true"></i>
          </div>
          <div id="plusButton" class="plus">
            <div class="plusHor"></div>
            <div class="plusVer "></div>
          </div>
        </div>
         <div class="options">
           <i class=" icon-camera" aria-hidden="true"></i>
           <i class=" icon-picture" aria-hidden="true"></i>
           <i class=" icon-camrecorder" aria-hidden="true"></i>
         </div> 
      </div>
      
        <!--contenido del centro fin-->
      </div>
    </div>
  </div>
</div>

<!--MODAL CON BUSCADOR Y PUBLICACIONES FIN-->

  