<dh-header></dh-header>

<div class="espaciado">
  <!-- Page Content -->
  <div class="container containercolor">
    <div class="row">
      <!--Columna 1 izquierd-->
        <div id="izquierda" class="col-md-4 pad" >
          <dh-perfil></dh-perfil>
          
          <tareas></tareas>
        </div>
      <!-- Columna2 central-->
        <div id="central" class="col-md-4">
           <!--buscador-->
           <dh-publicaciones></dh-publicaciones>
           <dh-publicacion-img-un></dh-publicacion-img-un>
           <dh-publicacion-img-much></dh-publicacion-img-much>
           <dh-publicacion-img-un></dh-publicacion-img-un>
           <dh-video-local></dh-video-local>
        </div>
      <!--Columna 3 derecha-->
        <div id="derecha" class="col-md-4">

              <notifications></notifications>

                <chat-desk></chat-desk>
              
    
        </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">DH &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>
<dh-menu></dh-menu>


