
 /*bodrde del car*/
 .card-borde{
   border-radius: 1.25rem;
 }
 .color-header{
   background: #f9f8f800;
 }
 
 .update-card-MDimentions{
   width: 47px;
   height: 45px;
   border-radius:50%;
 }
 .media-heading{
   font-size: medium;
 }
 
 .info{
   font-size: x-small;
 }
 
 .card-pad{
   padding: 0rem;
 }
 
 .icons{
     margin:0 auto;
     display:table;
 }
 
 @media (min-width: 320px) {
   .icon-pad{
     padding: 1px 16px 1px 4px ;
   }
 }
 /* 4 columnas para grandes tablets*/
 @media (min-width: 992px) {
   .icon-pad{
     padding: 1px 27px 1px 0px ;
   }
 }
 
 
 
 /*muchas imagenes css*/
 .imagen-u{
   display: inline-block;
   margin-bottom: 3px;
   margin-right: 0px;
   vertical-align: bottom;
 }
 .imagen-d{
    display: inline-block;
     margin-bottom: 3px;
     margin-right: 0px;
     vertical-align: bottom;
 }
 .imagen-t{
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 0px;
    vertical-align: bottom;
 }
 .imagen-c{
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 0px;
    vertical-align: bottom;
 }
 
 /*varias imagenes responsivo*/
 @media (min-width: 320px) {
   .img-tam-u{
     width: 149px;
     height: 194px;
   }
   .img-tam-d{
       width: 134px;
       height: 194px;
   }
   .img-tam-t{
      width: 288px;
      height: 174px;
   }
   .img-tam-c{
      width: 288px;
      height: 176px;
   }
 }
 
 @media (min-width: 992px) {
   .img-tam-u{
     width: 174px;
     height: 194px;
   }
 
   .img-tam-d{
       width: 169px;
       height: 194px;
   }
   .img-tam-t{
      width: 348px;
      height: 174px;
   }
   .img-tam-c{
      width: 348px;
      height: 176px;
   }
 }
 
 /*ultimo añadido*/
 
 @media (min-width: 320px) {
   .des{
     display: none;
   }
 }
 @media (min-width: 992px) {
   .des{
      display:block;
   }
 }
 
 /*.tamIcon{
   width: 20%;
 }*/
 
 /*iconos centreado*/
 .nav-tabs.nav-justified {
     width: 100%;
     border-bottom: 0;
 }
 
 @media (min-width: 320px) {
   .nav > li > a {
       position: relative;
       display: block;
       /*padding: 0px 31px;*/
   }
   .contLike{
    left: 50px;
    cursor: pointer;  
}
#p1-like{
left: 46px;    
position: absolute;
}
.contChat{
    left: 150px;  
    cursor: pointer;    
}
#p1-comment{
left: 165px;    
position: absolute;
}
.contShare{
    left: 230px;
    
}
#p1-share{
left: 265px;    
position: absolute;
}
}
/* 4 columnas para grandes tablets*/
@media (min-width: 992px) {
.nav > li > a {
 position: relative;
 display: block;
 /*padding: 0px 36px;*/
}
.contLike{
left: 60px;
cursor: pointer;  
}
#p1-like{
left: 55px;
position: absolute;
}
.contChat{
left: 150px;  
cursor: pointer;    
}
#p1-comment{
left: 170px;  
position: absolute;
}
.contShare{
left: 230px;
}
#p1-share{
left: 278px;  
position: absolute;
}
}
 
 .alin-numer{
   display: contents;
 }
 

 /*anadido para icono*/
 
.bord-serch{
    padding: 35px 1px 1px 1px;
  }
  
  .search-form {
    position: relative;
    top: 2%;
    left: 50%;
    /*width: 350px;*/
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .search-form.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
  
  @media (min-width: 320px) {
      .search-form {
        width: 288px;
      }
  }
  @media (min-width: 992px) {
      .search-form {
        width: 350px;
      }
  }
  
  
  .search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 14px;
    background: none;
    color: #5a6674;
    width: 195px;
    height: 20px;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
  }
  .search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
  }
  .search-button svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
  }
  
  .search-option {
    position: absolute;
    text-align: right;
    top: 10px;
    right: 15px;
  }
  .search-option div {
    position: relative;
    display: inline-block;
    margin: 0 1px;
    cursor: pointer;
  }
  .search-option div input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.01;
    cursor: pointer;
  }
  .search-option div span {
    position: absolute;
    display: block;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    background: #929AA3;
    color: #fff;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    padding: 4px 7px;
    border-radius: 12px;
    top: -18px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .search-option div span::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-top: 4px solid #929AA3;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .search-option div:hover span {
    opacity: 1;
    top: -21px;
  }
  .search-option div label {
    display: block;
    cursor: pointer;
  }
  .search-option div svg {
    height: 20px;
    width: 20px;
    fill: #5a6674;
    opacity: 0.6;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    pointer-events: none;
  }
  .search-option div:hover svg {
    opacity: 1;
  }
  .search-option div input:checked + label svg {
    fill: #e24040;
    opacity: .9;
  }
  .search-option div input:checked + label span {
    background: #e24040;
  }
  .search-option div input:checked + label span::after {
    border-top-color: #e24040;
  }
  
  /*buscador header*/
  .header-search-span {
      float: right;
      width: 250px;
      display: inline-block;
  }
  
  .header-search {
      width: 230px;
      position: relative;
      float: left;
  }
  
      .header-search input {
          position: absolute;
          width: 0px;
          float: Left;
          margin-left: 210px;
          -webkit-transition: all 0.7s ease-in-out;
          -moz-transition: all 0.7s ease-in-out;
          -o-transition: all 0.7s ease-in-out;
          transition: all 0.7s ease-in-out;
          border-radius:0;
          padding: 0 2px 0 2px;
          background: transparent;
          border: 0;
          box-shadow: none;
      }
  
          .header-search:hover input, .header-search input:focus {
              width: 200px;
              margin-left: 0px;
              color: #ffffff;
              font-weight: bold;
              background: rgba(9, 11, 9, 0.93);
          }
  
          .header-search input::placeholder {
              color: #ffffff;
              font-weight: normal;
          }
  
  .btn-srch {
      position: absolute;
      right: 0;
      border: 0;
      background: transparent;
  }
  
  .img-border{
    width: 20px;
    height: 21px;
    border-radius: 50%;
  }






/*slider2 css*/

#demo-page {
	display: flex;
	height: 59vh;
	text-align: center;
}

#main-container {
	align-self: center;
	margin: 0 auto;
	position: relative;
	perspective: 750px;
}

#main-container.vertical-version .controls-wrapper {
  display: inline-block;
  position: absolute;
  right: -60px;
  top: 50%;
  transform: rotate(90deg) scaleY(-1) translateX(50%);
  transform-origin: right;
}

#main-container.vertical-version #images-wrapper {
	margin: 0 auto;
}

#images-wrapper {
	width: 349px;
	height: 327px;
	margin: 0 auto 6px;
	position: relative;
}

#images-wrapper.origin-left .image-wrapper {
	transform-origin: right;
}

#images-wrapper.origin-right .image-wrapper {
	transform-origin: left;
}

.image-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	/*box-shadow: 0 50px 100px rgba(50,50,93,0.05), 0 15px 35px rgba(50,50,93,0.15);*/
	opacity: 0;
}

.image-wrapper.active {
	opacity: 1;
}

.image-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 3px;
}

.controls-wrapper {
	display: inline-block;
}

.controls {
	display: flex;
  justify-content: center;
  position: relative;
}

.controls.disabled .dot {
	pointer-events: none;
}

#circular-line {
	position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: rotate(90deg);
}

#circular-line.flip {
	transform: rotate(90deg) scaleY(-1);
}

#circular-line-path {
	stroke-dasharray: 106;
	stroke-dashoffset: 0;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: rgb(12, 72, 236);
}

.straight-line {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	height: 4px;
	background: rgb(12, 44, 228);
	border-radius: 3px;
	transform-origin: left;
	transform: scaleX(0);
}

svg {
	display: block;
}

.dot {
	width: 14px;
	height: 14px;
	background: #ddd;
	border-radius: 50%;
	margin: 12px;
	cursor: pointer;
	transform: scale(.85);
	transition: .3s all ease;
}

.dot.active {
	background: #0a06f1;
	transform: scale(1.1);
}

.title-slider{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 30px;
    color: #23211fa8;
    margin-bottom: 4px;
    text-align: center;
}

.comentario-slider{
  font-size: 17px;
  color: #23211f63;
  margin-bottom: 4px;
  text-align: center;
  text-transform: initial;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}
