<!--publicacion mas de una imagen  -->
<div class="card mb-4 card-borde">
    <div class="card-header color-header">
      <div class="media block-update-card">
        <a class="pull-left" href="#">
          <img class="media-object update-card-MDimentions" src="../../../assets/images/imgdh/logodh.png" alt="...">
        </a>
        <div class="media-body update-card-body">
          <h4 class="media-heading">Manning Hilton</h4>
          <p class="info">18 Jun. 17:34 Digital Harbor International</p>
        </div>
       </div>
       <!--icono car derecho-->
       <div class="search-option">
         <div>
           <input name="type" type="radio" value="type-images" id="type-images">
           <label for="type-images">
             <svg class="edit-pen-title">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#opcions"></use>
             </svg>
             <span>opciones</span>
           </label>
         </div>

       </div>
       <!--icono card derecho fin-->
    </div>
    <div class="card-body card-pad">
      <!--img src="img/camino.jpg" alt=""-->
      <div class="boy" data-grid="images">
        <div class="imagen-u" >
           <img class="img-tam-u"  src="../../../assets/images/imgdh/dhcdos.png">
        </div>
        <div class="imagen-d">
           <img class="img-tam-d"  src="../../../assets/images/imgdh/dhm.png">
        </div>
        <div  class="imagen-t">
           <img class="img-tam-t" src="../../../assets/images/imgdh/dhmagdif.png" >
        </div>
        <div class="imagen-c">
           <img class="img-tam-c"  src="../../../assets/images/imgdh/dho.png" >
         </div>
    </div>
    </div>
    <div class="card-footer text-muted">
        <ul class="newpostfooter nav nav-tabs nav-justified">
            <li class="alin-numer">
              <p >21</p>
              <a class="contLike" href="javascript:void(0)">
                <img class="icon-pad tamIcon " src="../../../assets/images/Like_OFF.svg">
              </a>
            </li>
            <li class="alin-numer">
              <p >51</p>
              <a class="contChat" href="javascript:void(0)" title="Leave a comment">
                <img class="icon-pad tamIcon" src="../../../assets/images/Chat_OFF.svg">
              </a>
            </li>
            <li class="alin-numer">
              <p >11</p>
              <a class="contShare" href="javascript:void(0)" title="Send this to friends or post it to your timeline">
                <img class="icon-pad tamIcon" src="../../../assets/images/Share-Off.svg">
              </a>
            </li>
          </ul>
    </div>


  </div>
 <!--publicacion mas de una imagen fin -->
 
  <!--publicacion imagenes con slider 3-->
 