<!--COMENTARIOS-->

<!--publicacion COMENTARIO inicio-->
<div class="card mb-4 card-borde ancho-card">
    <div class="card-header color-header">
        <div class="media block-update-card">
            <a class="pull-left" href="#">
                <img class="media-object update-card-MDimentions" src="../../../assets/images/imgdh/logodh.png" alt="...">
            </a>
            <div class="media-body update-card-body">
                <h4 class="media-heading">Manning Hilton</h4>
                <p class="info">18 Jun. 17:34 Digital Harbor International</p>
            </div>
            <!--icono car derecho-->
            <div class="search-option">
                <div>
                    <input name="type" type="radio" value="type-images" id="type-images">
                    <label for="type-images">
            <svg class="edit-pen-title">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#opcions"></use>
            </svg>
            <span>opciones</span>
          </label>
                </div>

            </div>
            <!--icono card derecho fin-->
        </div>
    </div>
    <div class="card-body card-pad">
        <!--inicio comentarion slider -->
        <div>
            <!--p>aqui biene el comentario de una publicaccion</p-->
            <p class="coment-text">{{listComentarios.comentario}}</p>
        </div>
        <!--fin comentario codigo slider-->
    </div>
    <div class="card-footer text-muted">
        <ul class="newpostfooter nav nav-tabs nav-justified">
            <li class="alin-numer">
                <input disabled name="resultado" id="resultado" value="0">
                <a class="contLike" href="principal" onclick="incrementaValor(1);return false;">
                    <img id="myLike" onclick="changeImage()" class="icon-pad pointer " src="../../../assets/images/Like_OFF.svg">
                </a>
            </li>
            <li class="alin-numer">
                <p id="p1-comment">51</p>
                <a class="contChat" data-toggle="modal" data-target="#ModalChat">
                    <img class="icon-pad tamIcon" src="../../../assets/images/Icons nuevos svg/CHAT_OFF.svg">
                </a>
            </li>
            <li class="alin-numer">
                <p id="p1-share">11</p>
                <a class="contShare" href="javascript:void(0)" title="Send this to friends or post it to your timeline">
                    <img class="icon-pad tamIcon" src="../../../assets/images/Icons nuevos svg/SHARE_OFF.svg">
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="comment" class="modal fade" id="ModalChat" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="btn-back">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <label id="text-back" data-dismiss="modal"> Atras </label>
                    <label id="text-principal"> Comment </label>
                    <label id="cant-like"> 51 </label>
                    <img id="like-comment" src="../../../assets/images/Like_OFF.svg">
                </div>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <textarea class="message-input" id="chatComentario"></textarea>
                <div id="cont-Comentario">
                    <button type="submit" class="message-submit"></button>
                    <img class="imagen-sent" src="../../../assets/images/Sent.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<!--publicacion comentarios fin-->