@media screen and (max-width: 2000px) and (min-width: 1025px) {
    #chat{
        left: 5%;
        right: 5%;
    }
    .titulo{
        font-size: 24px;
    }
  }
@media screen and (max-width: 1024px) and (min-width: 768px) {
    #chat{
        left: 0%;
        right: 0%;
    }
    .titulo{
        font-size: 23px;
    }
  }
  
  
  @media screen and (max-width: 767px) and (min-width: 401px) {
    #chat{
        left: 0%;
        right: 0%;
    }
    #derecha{
        display:none;
    }
    #izquierda{
        display: block;
    }
    .titulo{
        font-size: 20px;
    }
  }
  @media screen and (max-width: 400px) {
    #chat{
        left: 0%;
        right: 0%;
    }
    #derecha{
        display:none;
    }
    #izquierda{
        display: block;
    }
    .titulo{
        font-size: 14px;
    }
  }

.container{
    margin-top: -55px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    max-width: auto;
    max-height: auto;
}
.imgfondo{
    position: fixed;
    background: url("../../../assets/imagenes/hederult.png");
    background-repeat: no-repeat;
    padding: 9px 0px 25px 11px;
    top: 0px;
    left: 0px;
    right: 0px;
}/*
.bordeicon{
    padding: 5px 18px 4px 7px;
}*/
.bordeicon span{
    font-size: 20px;
    position: relative;
    color: #319AF2;
}
.fa-bars{
}
.volver{
    display: none;
}
.notificacion{
    font-size: 20px;
    position: relative;
    padding-left: 30px;
    top: 5px;
    color: #319AF2;
}
.buscar{
    font-size: 20px;
    position: relative;
    padding-left: 30px;
    top: 5px;
    color: #319AF2;
}
.apunte{
    font-size: 20px;
    position: relative;
    top: 5px;
    color: #319AF2;
}
.titulo{
    padding-left: 10%;
    /*font-size: 23px;*/
    position: relative;
    color: #4ECB96;
    color: linear-gradient(to bottom right, #7EEEA5, #44D18D,  #1FA785);
}
/*chat*/
#derecha{
    padding: 0px;
    padding-left: 1%;

}
#izquierda{
    
    padding: 0px;
}
@media screen and (max-height: 2000px) and (min-height: 1671px) {
    #chat{
        top: 5%;
        height: 92%;
    }
    .panel-body{
        height: 95%;
    }
}
  @media screen and (max-height: 1670px) and (min-height: 1271px) {
    #chat{
        top: 7%;
        height: 88%;
    }
    .panel-body{
        height: 95%;
    }
}
@media screen and (max-height: 1270px) and (min-height: 1021px) {
    #chat{
        top: 8%;
        height: 85%;
    }
    .panel-body{
        height: 95%;
    }
}
@media screen and (max-height: 1020px) and (min-height: 871px) {
    #chat{
        top: 9%;
        height: 82%;
    }
    .panel-body{
        height: 95%;
    }
}
@media screen and (max-height: 870px) and (min-height: 721px) {
    #chat{
        top: 11%;
        height: 78%;
    }
    .panel-body{
        height: 94%;
    }
}
@media screen and (max-height: 720px) and (min-height: 621px) {
    #chat{
        top: 13%;
        height: 74%;
    }
    .panel-body{
        height: 94%;
    }
}
@media screen and (max-height: 620px) and (min-height: 521px) {
    #chat{
        top: 15%;
        height: 69%;
    }
    .panel-body{
        height: 93%;
    }
}
@media screen and (max-height: 520px) and (min-height: 421px) {
    #chat{
        top: 18%;
        height: 61%;
    }
    .panel-body{
        height: 93%;
    }
}
@media screen and (max-height: 420px) and (min-height: 321px) {
    #chat{
        top: 21%;
        height: 50%;
    }
    .panel-body{
        height: 91%;
    }
}
@media screen and (max-height: 320px) {
    #chat{
        top: 23%;
        height: 46%;
    }
    .panel-body{
        height: 93%;
    }
       
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ccc; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #275; 
  }

.tab-content{
    height: 96%;
}
.tab-pane{
    height: 100%;
}
.list-group{
    height: 100%;
    background-color: white;
}
#contact-list{
    /*height: 300px;*/
    height: 100%;
    border-radius: 10px;
    overflow: auto;
    background-color: white;
    
}
#activo-list{
    overflow: auto;
    
}

#contact-list li{
    height: 60px;
    width: auto;
}
#activo-list li{
    height: 60px;
    width: auto;
}
#contact-list li:hover{
    background: #ccc;
} 
#activo-list li:hover{
    background: #ccc;
} 

.row p{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: #808080;
    font-size: 10px;
    margin: 0;
}

.row a{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: black;
    font-size: 12px;
    margin: 0;
    padding: none;
}

.row{
    margin: 0px;
    
}
.row .badge{
    
    margin: 0;
    font-size: 10px;
}

#contact-list li{
    padding: 10px;
    border-top: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;
    border-bottom: 0px solid white;
    position: relative;
}
#activo-list li{
    padding: 10px;
    border-top: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;
    border-bottom: 0px solid white;
    position: relative;
}
#contact-list img{
    width: 40px;
    height: 40px;
}
#activo-list img{
    width: 40px;
    height: 40px;
}
#estado{
    padding-top: -100px;
    margin-top: -100px;
}
#chat{
    position: fixed;
    max-height: 100%;
    bottom: 0%;
}
/*mensaje nuevo*/
.panel{
    padding-top: 21px;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.icon{
    height: 70px;
    padding-top:23px;
    
}
#contact{
    width: 50px;
    height: 50px;
    margin:auto;
    padding:7px 8px 7px 8px;
    border-radius: 25px 25px 25px 25px;
}

.fa-chevron-left, .fa-info-circle{
    font-size: 30px;
    color: #37A7FD;
}
.fa-user{
    font-size: 40px;
    color: #FFFFFF;
}
.panel-body{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.date{
    color: #A4A4A4;
    text-align: center;
    margin-bottom: 5px;
}

.bold{
    font-weight: bold;
}


.message{
    position: relative;
    font-size: 1.2em;
    max-width: 80%;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}
.message-in {
    left: 20px;
    float: left;
    background-color: #FFF;
    border: 2px solid #E3E3E3;
    
}
.message-out{
    float: right;
    background-color : #DDFFDD;
    
}

.fa-plus, .fa-send{
    color: #319AF2;
}
#contact img{
    height: 50px;
    width: auto;
    margin: -5px;
}
.chat-mensaje{
    clear: both;/*
    position: relative;*/
}
#foto-other{
    height: 40px;
    left: 10px;
    float: left;
    
    padding-bottom: 5px;
}

.mensaje-texto{
    position: absolute;
    left: 5%;
    right: 5%;
    padding-left: 8%;
    padding-right: 8%;
}
#message-text{
    border-radius: 20px;
}
.input-group-btn{
    border-radius: 35%;
    width: 5%;
}
.input-group .btn{
    background-color: white;
    border-radius: 20px;
}
#add{
    position: absolute;
    left: 0%;
}
#envoi{
    position: absolute;
    right: 0%;
}
/*opciones*/
#document{
    position: absolute;
    left: 0%;
}
#maps{
    position: absolute;
    left: 20%;
}
#img{
    position: absolute;
    left: 40%;
}
#contact{
    position: absolute;
    left: 60%;
}
#music{
    position: absolute;
    left: 80%;
}
