<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark imgfondo">
        <div class="col-12 row flex-nowrap justify-content-between align-items-center">
            <div class="col-6 pt-1 alineado-textico">
                <a class="bordeicon">
                    <span id="menu" class="menu fa fa-bars"></span>
                </a>
                <label class="titulo">Chat</label>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <label class="apunte fa fa-pencil-square-o"></label>    
                <label class="buscar fa fa-search"></label>
                <label class="notificacion fa fa-bell"></label>                    
            </div>
        </div>
    </nav>
    <div id="chat" class="row">
        <div id="izquierda" class="col-12 col-sm-12 col-md-5 izquierda">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="nav-recent" aria-selected="true">RECENT</a>
                    <a class="nav-item nav-link" id="nav-active-tab" data-toggle="tab" href="#active" role="tab" aria-controls="nav-active" aria-selected="false">ACTIVE</a>
                </div>
            </nav>
            <div class="tab-content">
                <div id="recent" class="tab-pane fade show active">
                    <ul id="contact-list" class="list-group" >
                        <li *ngFor="let contacto of contactos"  class="list-group-item " >
                            <div (click)="myFunction(contacto.id,contacto.imagen, mensajes)" class="row">
                                <div class="col-3">
                                    <img id="foto-contacto" src = {{contacto.imagen}}  class="rounded-circle" />
                                    <svg *ngIf="contacto.estado == true" id="estado" height="60" width="60">
                                        <circle cx="35" cy="8" r="3.5" stroke="white" stroke-width="1" fill="#98E600" />
                                    </svg>
                                </div>
                                <div  class="col-6">
                                    <a class="text-sm-left">{{contacto.nombre}}</a>
                                    <p class="text-secondary" aria-hidden="true">{{contacto.mensaje}}</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-secondary">9:12 pm</p>
                                    <span *ngIf="contacto.aviso == true" id = {{contacto.id}} class="badge badge-primary badge-pill">1</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="active" class="tab-pane fade">
                    <ul id="activo-list" class="list-group" >
                        <li *ngFor="let activo of active"  class="list-group-item " >
                            <div (click)="myFunction(activo.id,activo.imagen)" class="row">
                                <div class="col-3">
                                    <img id="foto-contacto" src = {{activo.imagen}}  class="rounded-circle" />
                                    <svg *ngIf="activo.estado == true" id="estado" height="60" width="60">
                                        <circle cx="35" cy="8" r="3.5" stroke="white" stroke-width="1" fill="#98E600" />
                                    </svg>
                                </div>
                                <div  class="col-6">
                                    <a class="text-sm-left">{{activo.nombre}}</a>
                                    <p class="text-secondary" aria-hidden="true">{{activo.mensaje}}</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-secondary">9:12 pm</p>
                                    <span *ngIf="activo.aviso == true" id = {{activo.id}} class="badge badge-primary badge-pill">1</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="derecha" class="col-12 col-sm-12 col-md-7 derecha">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="icon"><span class="fa fa-chevron-left"></span></div>
                        </div>
                        <div class="col-md-offset-3 col-md-4">
                            <div id="contact"><img id="foto-perfil" src= {{contact1.imagen}} class="rounded-circle">
                            </div>
                                    Nick
                        </div>
                        <div class="col-md-offset-3 col-md-4">
                            <div class="icon"><span class="fa fa-info-circle"></span></div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="date">
                        <span class="bold">Today</span> 11:54
                    </div>
                    <div *ngFor="let mensaje of mensajes" class="chat-mensaje">
                        <div  *ngIf="mensaje.val == false">
                            <img id="foto-other" src= {{contact1.imagen}} class="rounded-circle">
                            <div  class="message message-in">
                                {{mensaje.mens}}
                            </div>
                        </div>
                        <div *ngIf="mensaje.val == true">
                            <div  class="message message-out">
                                {{mensaje.mens}}
                            </div>
                            <!--<a class="user" href="#"><img alt="" src= {{contact1.imagen}} /></a>-->
                        </div>
                        
                    </div>
                    <!--<div class="row">
                        <div class="message message-in pull-left">
                            Hey! What's up?
                        </div>
                    </div>
                    <div class="row">
                        <div class="message message-out pull-right">
                            Good! And you?
                        </div>
                    </div>
                    <div class="row">
                        <div class="message message-in pull-left">
                            Great! 
                        </div>
                    </div>
                    <div class="row">
                        <div class="message message-out pull-right">
                            Still ok to go to the cinema ?
                        </div>
                    </div>-->
                </div>
                <div class="panel-footer">
                    <form>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button data-toggle="modal" href="#modal-photo" class="btn btn-default" type="button"><span class="fa fa-camera"></span></button>
                            </span>
                            <input id="message-text" type="text" class="form-control" placeholder="Message">
                            <span class="input-group-btn">
                                <button (click)="myFunctionMessage(mensajes)" id="envoi" class="btn btn-default" type="button"><span class="fa fa-send"></span></button>
                            </span>
                        </div>
                    </form>
                </div>
                </div>
                    
                    <div class="modal" id="modal-photo">
                      <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">x</button>
                                <h4 class="modal-title">Envoyer une photo</h4>
                            </div>
                            <div class="modal-body">
                                <input type="file" name ="photo" id="photo" accept="image/*">
                            </div>
                            <div class="modal-footer">
                                <button id="validation" class="btn btn-primary">Envoyer</button>
                            </div>
                        </div>
                      </div>
                    </div>
                    
        </div>
    </div>
</div>
<dh-menu></dh-menu>