@media screen and (max-width: 992px) and (min-width: 769px) {
    #derecha{
        display:none;
    }
    #izquierda{
        display: block;
    }
  }
  
  
  @media screen and (max-width: 767px) {
    #derecha{
        display:none;
    }
    #izquierda{
        display: block;
    }
  }
.container{
    margin-top: -55px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    max-width: 1600px;
    max-height: auto;
}
.imgfondo{
    background: url("../../../assets/imagenes/hederult.png");
    background-repeat: no-repeat;
    padding: 9px 0px 21px 11px;
}
.bordeicon{
    padding: 5px 18px 4px 7px;
}
.fa-bars{
    font-size: 20px;
    position: relative;
    color: #319AF2;
}
.notificacion{
    font-size: 20px;
    position: relative;
    padding-left: 30px;
    top: 5px;
    color: #319AF2;
}
.buscar{
    font-size: 20px;
    position: relative;
    padding-left: 30px;
    top: 5px;
    color: #319AF2;
}
.apunte{
    font-size: 20px;
    position: relative;
    top: 5px;
    color: #319AF2;
}
.titulo{
    font-size: 23px;
    position: relative;
    color: #4ECB96;
    color: linear-gradient(to bottom right, #7EEEA5, #44D18D,  #1FA785);
}
/*chat*/
#derecha{
    padding: 0px;
}
#izquierda{
    padding: 0px;
}
@media screen and (max-height: 1500px) and (min-height: 1367px) {
    #contact-list{
        height: 1370px;
    } 
    #activo-list{
       height: 1370px;
       }
       .panel-body{
        height: 1300px;
      }
      #derecha{
        height: 1400px;
      }
}
  @media screen and (max-height: 1366px) and (min-height: 1025px) {
    #contact-list{
        height: 1170px;
    } 
    #activo-list{
       height: 1170px;
       }
    .panel-body{
        height: 1050px;
      }
      #derecha{
        height: 1150px;
      }
}
@media screen and (max-height: 1024px) and (min-height: 824px) {
    #contact-list{
        height: 770px;
    } 
    #activo-list{
       height: 770px;
    }
    .panel-body{
        height: 700px;
    }
       #derecha{
        height: 800px;
      }
}
@media screen and (max-height: 823px) and (min-height: 737px) {
    #contact-list{
        height: 640px;
    } 
    #activo-list{
       height: 640px;
    }
       .panel-body{
        height: 540px;
      }
      #derecha{
        height: 640px;
      }
}
@media screen and (max-height: 736px) and (min-height: 668px) {
    #contact-list{
        height: 570px;
    } 
    #activo-list{
       height: 570px;
    }
       .panel-body{
        height: 470px;
      }
      #derecha{
        height: 570px;
      }
}
@media screen and (max-height: 667px) and (min-height: 641px) {
    #contact-list{
        height: 500px;
    } 
    #activo-list{
       height: 500px;
    }
       .panel-body{
        height: 400px;
      }
      #derecha{
        height: 500px;
      }
}
@media screen and (max-height: 640px) and (min-height: 569px) {
    #contact-list{
        height: 450px;
    } 
    #activo-list{
       height: 450px;
    }
       .panel-body{
        height: 350px;
      }
      #derecha{
        height: 450px;
      }
}
@media screen and (max-height: 568px) and (min-height: 361) {
    #contact-list{
        height: 400px;
    } 
    #activo-list{
       height: 400px;
    }
       .panel-body{
        height: 300px;
      }
      #derecha{
        height: 400px;
      }
}
@media screen and (max-height: 360px) {
 #contact-list{
     height: 200px;
 } 
 #activo-list{
    height: 200px;
  }
  .panel-body{
    height: 100px;
  }
  #derecha{
        height: 200px;
      }
    
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ccc; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #275; 
  }


#contact-list{
    /*height: 300px;*/
    border-radius: 10px;
    overflow: auto;
    
}
#activo-list{
    overflow: auto;
    
}

#contact-list li{
    height: 60px;
    width: auto;
}
#activo-list li{
    height: 60px;
    width: auto;
}
#contact-list li:hover{
    background: #ccc;
} 
#activo-list li:hover{
    background: #ccc;
} 

.row p{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: #808080;
    font-size: 10px;
    margin: 0;
}

.row a{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: black;
    font-size: 12px;
    margin: 0;
    padding: none;
}

.row{
    margin: 0px;
}
.row span{
    
    margin: 0;
    font-size: 10px;
}

#contact-list li{
    padding: 10px;
    border-top: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;
    border-bottom: 0px solid white;
    position: relative;
}
#activo-list li{
    padding: 10px;
    border-top: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;
    border-bottom: 0px solid white;
    position: relative;
}
#contact-list img{
    width: 40px;
    height: 40px;
}
#activo-list img{
    width: 40px;
    height: 40px;
}
#estado{
    padding-top: -100px;
    margin-top: -100px;
}
#chat{
    position: relative;
    padding-top: 100px;
}
/*mensaje nuevo*/
.panel{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.icon{
    height: 70px;
    padding-top:23px;
    
}
#contact{
    width: 50px;
    height: 50px;
    margin:auto;
    padding:7px 8px 7px 8px;
    background-color :#A4A4A4;
    border-radius: 25px 25px 25px 25px;
}

.fa-chevron-left, .fa-info-circle{
    size: 60px;
    color: #37A7FD;
}
.fa-user{
    font-size: 40px;
    color: #FFFFFF;
}

.panel-body{
    max-height: 1400px;   
    overflow-y: scroll;
    background-color: white;
}

.date{
    color: #A4A4A4;
    text-align: center;
    margin-bottom: 5px;
}

.bold{
    font-weight: bold;
}


.message{
    font-size: 1.2em;
    max-width:300px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}
.message-in {
    background-color: #E5E5EA;
    position: relative;
    margin-bottom: 10%;
    left: 5%;

}
.message-out{
    position: absolute;
    background-color : #22D351;
    margin-top: -8%; 
    right: 5%;
    color: #FFFFFF;
}

.fa-camera, .fa-send{
    color: #848484;
}