<!--publicacion imagenes-->
<div class="card mb-4 card-borde">
    <div class="card-header color-header">
      <div class="media block-update-card">
        <a class="pull-left" href="#">
          <img class="media-object update-card-MDimentions" src="../../../assets/images/imgdh/logodh.png" alt="...">
        </a>
        <div class="media-body update-card-body">
          <h4 class="media-heading">Manning Hilton</h4>
          <p class="info">18 Jun. 17:34 Digital Harbor International</p>
        </div>
        <!--icono car derecho-->
        <div class="search-option">
          <div>
            <input name="type" type="radio" value="type-images" id="type-images">
            <label for="type-images">
              <svg class="edit-pen-title">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#opcions"></use>
              </svg>
              <span>opciones</span>
            </label>
          </div>

        </div>
        <!--icono card derecho fin-->
       </div>
    </div>
    <div class="card-body card-pad">
      <div class="boy" data-grid="images">
        <div class="imagen-complet" >
           <img class="img-complet" src="../../../assets/images/imgdh/unimg.png">
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <!--div class="icons">
        <img class="icon-pad tamIcon" class="img-complet" src="img/Like_OFF.svg">
        <img class="icon-pad tamIcon" class="img-complet" src="img/Chat_OFF.svg">
        <img class="icon-pad tamIcon" class="img-complet" src="img/Share_OFF.svg">
        <!a class="icon-pad" href="#">6<i class="fas fa-thumbs-up fa-lg"></i></a>
      </div-->
       <ul class="newpostfooter nav nav-tabs nav-justified">
          <li class="alin-numer">
            <p >21</p>
            <a class="contLike">
              <img id="myLike" onclick="changeImage()" class="icon-pad pointer " src="../../../assets/images/Like_OFF.svg">
            </a>
          </li>
          <li class="alin-numer">
            <p >51</p>
            <a class="contChat" data-toggle="modal" data-target="#ModalChat">
              <img class="icon-pad tamIcon" src="../../../assets/images/Chat_OFF.svg">
            </a>
          </li>
          <li class="alin-numer">
            <p >11</p>
            <a class="contShare" href="javascript:void(0)" title="Send this to friends or post it to your timeline">
              <img class="icon-pad tamIcon" src="../../../assets/images/Share-Off.svg">
            </a>
          </li>
        </ul>
    </div>
  </div>
  <div id="comment" class="modal fade" id="ModalChat" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <div id="btn-back">
                <button type="button" class="close" data-dismiss="modal"></button>
                <label id="text-back" data-dismiss="modal"> Atras </label>
                <label id="text-principal"> Comment </label>
                <label id="cant-like"> 51 </label> 
                <img id="like-comment" src="../../../assets/images/Like_OFF.svg">                                                                                                                              
            </div>
          </div>
        <div class="modal-body">
            
        </div>
        <div class="modal-footer">
          <div id="chat-comment">
                <input type="text" id="chatComentario"/>
            </div>
              <div id="cont-Comentario">
                  <img class="enviarComentario" src="../../../assets/images/Sent.svg"/>
              </div>
          </div>
        </div>
      </div>
    </div>
   <!--publicacion imagenes fin-->

   <!--<nav class="navbar" ng-controller="myCtrl">
    <img src="../../../assets/images/Like_OFF.svg" class="play-symbol pointer"/>
  </nav>-->