
<div class="container border">
    <div class="row">
            <div class="header">
                <div class="menu-email">
                   <a class="pull-left" href="#">
                    <img class="media-object update-card-MDimentions" src="../../../assets/images/imgdh/logodh.png" alt="...">
                     </a>
                    <button class="btn-mail btn-blue btn-border-o" type="button">
                    <p>New</p>
                     <img id="img-new" src="../../../assets/images/Icons nuevos svg/MAIL_ON.svg">
                    </button>
                    <button class="btn-inbox btn-blue btn-border-o" type="button">
                    <p>Inbox</p>
                    <img id="img-inbox" src="../../../assets/images/Icons nuevos svg/DOWNLOAD_ON.svg">       
                    </button>
                    <button class="btn-outbox btn-blue btn-border-o" type="button">
                    <p>Outbox</p>
                    <img id="img-outbox" src="../../../assets/images/Icons nuevos svg/UPLOAD_ON.svg">       
                    </button>
                    <button class="btn-trash btn-blue btn-border-o" type="button">
                    <p>Trash</p>
                    <img id="img-trash" src="../../../assets/images/Icons nuevos svg/DELETE_ON.svg">       
                  </button>
                   <button class="btn-draft btn-blue btn-border-o" type="button">
                    <p>Draft</p>
                 <img id="img-draft" src="../../../assets/images/Icons nuevos svg/Keyboard.svg">       
                </button>
                     <button class="btn-folders btn-blue btn-border-o" type="button">
                    <p>Folders</p>
                       <img id="img-folders" src="../../../assets/images/Icons nuevos svg/DISCLOUSURE_INFORMATION.svg">       
                        </button>
                </div>
                <p class="medio">Inbox</p>
            </div>
            <div class="body-archor">
              <p class="anchor">Anchor</p>            
            <div class="container-email">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <p class="larger">Robert Stand</p>
                    <p class="larger-1">Mail about new requeriments</p>    
                    <p class="fecha">8/6/2018</p> 
                    <p class="small-1">It is a long established fact that a reader will be distracted by the readable content of a page when looking at is layout....</p> 
                    <button class="btn btn-blue btn-border-o" type="button">
                        <img id="img-doc" src="../../../assets/images/Icons nuevos svg/DOC.svg">
                        </button>
  
                        <button class="btn-share btn-blue btn-border-o" type="button">
                            <img id="img-share" src="../../../assets/images/Icons nuevos svg/SHARE_ON.svg">
                            </button>
  
                            <button class="btn-resp btn-blue btn-border-o" type="button">
                                <img id="img-resp" src="../../../assets/images/Icons nuevos svg/EXPLANATION_ON.svg">
                                </button>
  
                                <button class="btn-option btn-blue btn-border-o" type="button">
                                    <img id="img-option" src="../../../assets/images/Icons nuevos svg/MORE_ON.svg">
                                    </button>
                  </li>
  
                  <li class="list-group-item">
                      <p class="larger">Sam Brosney</p>
                      <p class="larger-1">Mail about new requeriments</p>    
                      <p class="fecha">8/6/2018</p> 
                      <p class="small-1">I have to say tanks for the quickly....</p> 
                      <button class="btn btn-blue btn-border-o" type="button">
                          <img id="img-doc" src="../../../assets/images/Icons nuevos svg/XLS.svg">
                          </button>
    
                          <button class="btn-share btn-blue btn-border-o" type="button">
                              <img id="img-share" src="../../../assets/images/Icons nuevos svg/SHARE_ON.svg">
                              </button>
    
                              <button class="btn-resp btn-blue btn-border-o" type="button">
                                  <img id="img-resp" src="../../../assets/images/Icons nuevos svg/EXPLANATION_ON.svg">
                                  </button>
    
                                  <button class="btn-option btn-blue btn-border-o" type="button">
                                      <img id="img-option" src="../../../assets/images/Icons nuevos svg/MORE_ON.svg">
                                      </button>
                    </li>
                </ul>
              </div>
            </div>
              <div class="body-today">
              <p class="today">Today</p> 
              <div class="container-email">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <p class="larger">Robert Stand</p>
                        <p class="larger-1">Mail about new requeriments</p>    
                        <p class="fecha">8/6/2018</p> 
                        <p class="small-1">It is a long established fact that a reader will be distracted by the readable content of a page when looking at is layout....</p> 
                        <button class="btn btn-blue btn-border-o" type="button">
                            <img id="img-doc" src="../../../assets/images/Icons nuevos svg/DOC.svg">
                            </button>
      
                            <button class="btn-share btn-blue btn-border-o" type="button">
                                <img id="img-share" src="../../../assets/images/Icons nuevos svg/SHARE_ON.svg">
                                </button>
      
                                <button class="btn-resp btn-blue btn-border-o" type="button">
                                    <img id="img-resp" src="../../../assets/images/Icons nuevos svg/EXPLANATION_ON.svg">
                                    </button>
      
                                    <button class="btn-option btn-blue btn-border-o" type="button">
                                        <img id="img-option" src="../../../assets/images/Icons nuevos svg/MORE_ON.svg">
                                        </button>
                      </li>
      
                      <li class="list-group-item">
                          <p class="larger">Sam Brosney</p>
                          <p class="larger-1">Mail about new requeriments</p>    
                          <p class="fecha">8/6/2018</p> 
                          <p class="small-1">I have to say tanks for the quickly....</p> 
                          <button class="btn btn-blue btn-border-o" type="button">
                              <img id="img-doc" src="../../../assets/images/Icons nuevos svg/XLS.svg">
                              </button>
        
                              <button class="btn-share btn-blue btn-border-o" type="button">
                                  <img id="img-share" src="../../../assets/images/Icons nuevos svg/SHARE_ON.svg">
                                  </button>
        
                                  <button class="btn-resp btn-blue btn-border-o" type="button">
                                      <img id="img-resp" src="../../../assets/images/Icons nuevos svg/EXPLANATION_ON.svg">
                                      </button>
        
                                      <button class="btn-option btn-blue btn-border-o" type="button">
                                          <img id="img-option" src="../../../assets/images/Icons nuevos svg/MORE_ON.svg">
                                          </button>
                        </li>
                    </ul>
                  </div>
        </div>        
    </div>
  </div>

  <dh-menu></dh-menu>

    