.container{
    padding-top: 30px;
}

#titulo{
    color: #1BBCFE;
    padding-left: 20px;
    padding-top: 0px;
    padding-right: 150px; 
    font-size: 15px;
    display: inline-block;
}

#icono{
    width: 15px;
    height: 15px;
    display: inline-block;
}