<div class="container">
        <div class="row">
                <h5>To Do List</h5>
                <form name="checkListForm">
                    <input type="text" id="text" name="checkListItem" placeholder="Title..."/>
                </form>
                 <button type="button" id="add">+</button>
                 <button type="button" id="clear" title="Clear checked items">-</button>
                <br/><br/>
                <div class="list"></div>
            </div>
        </div>
    