<div class="container">
    <div class="card border-light mb-3">
        <div class="card-header bg-transparent">
            <div class="media">
                
                <h5  id="titulo" class="mt-0">{{titulo}}</h5>
                <img id="icono" src="./assets/imagenes/iconos/add.png" style="size:100%;" class="align-self-center mr-3" />
            </div>
        </div>
        <div class="panel panel-default" id="tareas">
            <ul class="list-group" id="tareas-list">
                <li class="list-group-item">
                    <input type="checkbox" name="vehicle1" value="Bike"> I have a bike
  
                </li>
                <li class="list-group-item">
                    <input type="checkbox" name="vehicle2" value="Car"> I have a car 
  
                </li>
                
            </ul>
        </div>
      
    </div>
</div>