.container{    
    position: fixed;
    top: 500px;
    background-color: #FFFFFF;
    border-radius: 10px;
    max-height: 350px;
    max-width: 300px;
    min-height: 260px;
    min-width: 280px;
}
form {
    display: inline-block;
}

.list {
    position: absolute;
    top: 70px;
    left: 10%;
	font-family:"Trebuchet MS";
    font-size:20px;
	color:#000000;
    cursor:pointer;
}
h5{
    position: relative;
    left: 35%;
    top: 2px;
    color: #007AFF;
}
#text{
    position: absolute;
    left: 10%;
    top: 40px;
    border-radius: 5px;
    border: 1px solid #007AFF;
}
#add{
    position: absolute;
    left: 75%;
    top: 40px;
    background-color: #FFFFFF;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}
button:hover {
    background: rgba(0,0,0,0);
    color: #007AFF;
    box-shadow: inset 0 0 0 2px #007AFF;
    }
#clear{
    position: absolute;
    left: 85%;
    top: 40px;
    background-color: #FFFFFF;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}